<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/base :: headerFragment">
  <title id="pageTitle" th:inline="text">[[#{sp.msg.title}]]</title>
</head>
<body>

  <div th:replace="fragments/header :: logotype"></div>
  
  <div class="container main">
  
    <div th:replace="fragments/header :: language(languages = ${languages}, path='/result')"></div>  
    
    <div class="row" id="mainDiv">
      <div class="col-sm-12 content-container">
      
        <div class="error">

          <div class="row">
            <div class="col-sm-12 content-heading">
              <h2 th:text="#{sp.msg.saml-error-heading}">Authentication failed</h2>
            </div>
            <div class="col-sm-12">
              <p th:text="#{sp.msg.saml-error-intro}">Msg</p>
            </div>       
            <div class="col-sm-12" th:if="${status.subErrorCode != null && status.errorMessage != null}">
              <p th:text="#{sp.msg.saml-error-code-with-message(${status.subErrorCode}, ${status.errorMessage})}">Msg</p>
            </div>
            <div class="col-sm-12" th:if="${status.subErrorCode != null && status.errorMessage == null}">
              <p th:text="#{sp.msg.saml-error-code-no-message(${status.subErrorCode})}">Msg</p>
            </div>
            <div class="col-sm-12" th:if="${status.subErrorCode == null && status.errorMessage != null}">
              <p th:text="#{sp.msg.saml-error-only-message(${status.errorMessage})}">Msg</p>
            </div>                        
          </div>
        </div>

      </div> <!-- /.col-sm-12 content-container -->
      
      <div class="row section" id="backDiv">
        <div class="col-sm-12 return">
          <a href="#" th:href="@{/}"><span th:text="#{sp.msg.tryagain-button}">Try again</span></a>
        </div>
      </div> <!-- /#backDiv -->      
      
      <div th:replace="fragments/footer :: copyright"></div>      
      
    </div> <!-- /#mainDiv -->

  </div> <!-- /.container main -->


  <th:block th:include="fragments/base :: scriptFragment"></th:block>
  
</body>
</html>