<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head th:include="fragments/base :: headerFragment">
  <title id="pageTitle" th:inline="text">[[#{sp.msg.title}]]</title>
</head>
<body>

  <div th:replace="fragments/header :: logotype"></div>
  
  <div class="container main">

    <div th:replace="fragments/header :: language(languages = ${languages}, path='/')"></div>
    
    <div class="row" id="mainDiv">
      <div class="col-sm-12 content-container">

        <div class="row">
          <div class="col-sm-12 content-heading">
            <h2 th:text="#{sp.msg.heading}">Heading</h2>
          </div>
          <div class="col-sm-12">
            <p class="info" th:text="#{sp.msg.intro.1}">Intro 1</p>
            <p class="info" th:text="#{sp.msg.intro.2}">Intro 2</p>
            <p class="info" th:text="#{sp.msg.intro.3}">Intro 3</p>
          </div>
        </div>
        
        <hr class="full-width">
        
        <div class="providers" id="submitDiv">
          <div class="row">
            <div class="col-12">
              <form method="POST" action="#" th:action="@{/saml2/request}">
                <input type="hidden" name="debug" th:value="${debug}" />
                <th:block th:if="${idpList.empty}">
                  <p class="info">No identity providers are available.</p>
                </th:block>
                <th:block th:if="${!idpList.empty}">
                  <th:block th:each="idpData,idpStat:${idpList}">
                    <button class="provider-button" type="submit" name="selectedIdp" th:value="${idpData.getEntityID()}">
                    <div class="provider">                    
                      <img th:src="@{${idpData.getLogotype()}}"/>
                      <p th:text='${idpData.getDisplayName()}'>IdP</p>
                      <th:block th:if="${idpData.getDescription() != null}">
                        <p class="idp-description" th:text='${idpData.getDescription()}'>Additional text</p>
                      </th:block>   
                    </div>
                    </button>
                  </th:block>
                </th:block>
              </form>
            </div>
          </div>  
        </div>        
        
      </div> <!-- /.col-sm-12 content-container -->
      
      <div th:replace="fragments/footer :: copyright"></div>      
      
    </div> <!-- /#mainDiv -->

  </div> <!-- /.container main -->

  <th:block th:include="fragments/base :: scriptFragment"></th:block>
  
</body>
</html>